@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Merienda+One');
* {
	padding: 0;
	margin: 0;
}
body {
	max-width: 1920px;
	max-height: 4920px;
	font-family: 'Open Sans', sans-serif;
	background: #fffbfb;
	color: #fffbfb;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
header {
	background: #222121;
}

@media (max-width: 768px) {
	.container {
		width: 760px;
	}
}



/**************/
/*HEADER__MENU*/
/**************/
.menu__top {
	background: #a84238;
	height: 110px;
}
.menu__top-list {
	margin-left: 170px;
	margin-top: -45px;
}
.menu__top-list li {
	float: left;
}
.menu__top-list-item {
	display: block;
	list-style: none;
	padding-right: 50px;
}
.menu__top img {
	padding-top: 15px;
	padding-left: 5px;
}
.menu__top-list-item a {
	text-decoration: underline;
	color:  #fffbfb;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
}
.last__item {
	margin-left: 90px;
	margin-top: -65px;
	color:  #fffbfb;
	font-size: 12px;
	font-weight: 400;
	text-align: right;
	padding-right: 0;
}
.phone__number {
	font-size: 14px;
}
.glyphicon-earphone {
	font-size: 11px;
	padding-right: 5px;
}
.phone_delivery {
	margin-bottom: -1px;
	text-transform: none;
	/*color: #cecece;*/
	color: #a84238;
	font-size: 13px;
	font-weight: 400;
}
.menu__top-list .active a, .menu__top-list-item a:hover {
	color:  #2c2a29;
	text-decoration: none;
}
.divide {
	display: block;
	width: 37px;
	height: 7px;
	margin: 5px 0;
	background: #fff;
	border: 1px solid #181716;
	border-radius: 3px;
}
#touch-menu {
	display: none;
}

@media (min-width: 321px) and (max-width: 768px) {
	.phone_delivery {
	color: #cecece;
	}
}
@media (max-width: 768px) {
	#touch-menu {
		display: block;
		margin-left: 670px;
		margin-top: -55px;
	}
	.last__item {
		margin-right: 300px;
	}
	.menu__top-list li {
	float: none;
	}
	.menu__top-list {
		display: none;
		position: absolute;
		z-index: 2;
		margin-top: 15px;
		background-color: rgba(26, 24, 23, 0.9);
		width: 760px;
		height: 370px;
		text-align: center;
		margin-left: -26px;
	}
	.menu__top-list-item {
		margin-bottom: 20px;
	}
	.menu__top-list-item a {
		font-size: 16px;
	}
	.menu__top-list .active a {
		color: #a84238;
		font-size: 16px;
		font-weight: 800px;
	}
	.active {
		margin-top: 70px;
	}
	.menu__top-list-item a:hover {
		color: #a84238;
	}
}